<% @blogs.each do |blog| %>
	<div class="blog-post">
		<p class="blog-post-title"><%= link_to blog.title, blog %>
			<%= icons_helper(blog, "blogicons") %>
		</p2>
		<p class="blog-post-meta">Created <%= blog.created_at.strftime("%F") %></p>
		<p class = "blog-body"><%= markdown line_limiter(blog.body, 11) %></p>	
	</div>
<% end %>

<!-- rails handles the iteration, by passing in @blogs and naming this partial the singluar of blogs which is blog
rails looks for the blog partial and since the iteration cycle is so common with the @blogs instance variable defined in the controller, rails does the iteration automatically for us -->