      
<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic">
    <%= link_to 'Write a new Blog', new_blog_path if logged_in?(:site_admin)%>
  </h3>

  <%= render "blog", blogs: @blogs %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>

</div><!-- /.blog-main -->


