<div class = "container">
	<hr>
	<h2> Create a new Topic</h2>
	<%= render "form", topic: @topic %>
	<hr>
	<br>
	<h2>Manage Topics</h2>
	<div class = "row">
		<% @topics.each do |topic| %>
			<div class= "col-md-6">
				<%= render "form", topic: topic %>
			</div>
		<% end %>
	</div>
</div>