<% images.each do | image | %>
	<%= "<div class = '#{image[:style1]}'>".html_safe %>
		<%= break_space image %>
		<%= image_tag image[:image], width:  image[:width], class: image[:style2],alt: image[:alt] %>	
    </div>
<% end %>