
<footer class="mastfoot mt-auto" style = "text-align: center;">
    <div class="inner app-footer" style = "text-align: center;">
      <p style = "text-align: center;"><%= copyright_generator %></p>
    </div>
</footer>

