<body class="text-center">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Samuel Dorilas</h3>
      <nav class="nav nav-masthead justify-content-center">
        <%= nav_helper("nav-link") %>
        <%= login_helper("nav-link") %>
      </nav>
    </div>
  </header>
</body>
