<body class="text-center">
    <div class="row ghg masthead mb-auto ">
    	<div class= "col-md-4 ">
	    	<% unless current_page? certifications_path%>
	      		<h3 class="masthead-brand">Samuel Dorilas</h3>
	      	<% else %>
		        <h3 class="masthead-brand color-one" >Samuel Dorilas</h3>
            <% end %>
        </div>
        <div class= "col-md-8">
	        <nav class="nav nav-masthead justify-content-center">
		      	<% unless current_page? certifications_path%>
		      		<%= nav_helper("nav-link") %>
		            <%= login_helper("nav-link") %>
		      	<% else %>
			        <%= nav_helper("nav-link", "color:black;") %>
			        <%= login_helper("nav-link", "color:black;") %>
		        <% end %>
	        </nav>
	    </div>
    </div>
</body>