<div class = "container">
	<hr>
	<footer class="mastfoot mt-auto" >
	    <div class="inner app-footer" >
	      <p style = "text-align: center;"><%= copyright_generator %></p>
	    </div>
	</footer>
</div>


