 <div class="col-md-12">
  <div class="card ">
    <div class="card-body ">      
        <div >
          <h3 class= "featured-post">Featured post</h3>
          <% @featured_blogs.each do |featured_blog| %>
            <% if featured_blog.featured? && featured_blog.published? %>
              <div class= "blog-title"><%= featured_blog.title %></div>
              <div class="mb-1 text-muted">
                <%= distance_of_time_in_words( featured_blog.created_at, Time.now) %> ago
              </div>
                <p class = "featured-body"><%= markdown line_limiter(featured_blog.body, 3) %></p>
              <p><%= link_to "Continue reading", featured_blog%></p>
            <% end %>
           <% end %>
        </div>
    </div> 
  </div>
</div> 

