<header>
	<nav class="navbar navbar-expand-md navbar-light">
		<div class="collapse navbar-collapse " id="navbarTogglerDemo01">
		    <ul class=" navbar-nav  nav">
		          <%= nav_helper("nav-link") %>
		          <li><%= login_helper("nav-link login-pads") %><li>
		    </ul> 
	    </div>
		<div class="navbar-brand"></div>
		<button class="navbar-toggler " 
		      type="button" 
		      data-toggle="collapse" 
		      data-target="#navbarTogglerDemo01" 
		      aria-controls="navbarTogglerDemo01" 
		      aria-expanded="false" 
		      aria-label="Toggle navigation">Explore
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
</header>



