 <div class="container">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between ">
            <%= nav_helper("nav-link") %>
	        <%= login_helper("nav-link") %>
        </nav>
    </div>
</div>   
<!-- nav-background -->

