<% certifications.each do | certification | %>
	<%= "<div class = '#{certification[:style1]}'>".html_safe %>
		<%= break_space certification %>	
		<%= image_tag certification[:image], width: certification[:width], class: certification[:style2],alt: certification[:alt] %>
	</div>
<% end %>