<header>

  <div class="collapse bg-dark" id="navbarHeader">
    <body class="text-center">
        <header class="masthead mb-auto">
          <div class="inner">
            <br>
            <h4 class="text-white">Explore</h4>
            <nav class="nav nav-masthead justify-content-center">
              <%= nav_helper("nav-link") %>
              <%= login_helper("nav-link") %>
            </nav>
          </div>
        </header>
      </body>
  </div>
  
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="/about-me" class="navbar-brand d-flex align-items-center">
        <strong>Samuel Dorilas</strong>
      </a>
      
      <button class="navbar-toggler" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarHeader" 
      aria-controls="navbarHeader" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </div>

</header>

