<div class = "background-certifications" id="background"></div>
<div class="container">
    <div class = "row">
    	<%= render "shared/certification_images", certifications: certification_items %>
	</div>	
</div>